<html>
	<head>
		<title>Hafendienst-Backoffice - Registrierung</title>
	</head>
	<body>
		<p>Lieber Bruder, liebe Schwester</p>
		<p>
			Du wurdest eingeladen, dir ein Benutzerkonto auf der Internetseite zur Verwaltung des Hafendienstes anzulegen.<br />
			Klicke dazu bitte auf folgenden Link und fülle das Formular aus (Technische Info: Die Handynummer muss mit "+Ländervorwahl" beginnen):
		</p>
		<p><a href="{{LinkAdresse}}">Benutzerregistrierung</a></p>
		<p>
			Nachdem du dich registriert hast, gib bitte dem Koordinator deiner Hafengruppe Bescheid, er wird deinen Zugang dann freischalten.
		</p>
		<p>
			Vielen Dank für deine Mitarbeit<br />
			Deine Brüder der Hafengruppe
		</p>
	</body>
</html>