<html>
	<head>
		<title>Harbour Witnessing Backoffice - Registering</title>
	</head>
	<body>
		<p>Dear Brother / Dear Sister</p>
		<p>
			You have been invited to set up a user account for the scheduling of harbour witnessing on the website.<br />
			Please click on the link below and fill in the form (Technical note: the mobile number needs to start with "+country code"):
		</p>
		<p><a href="{{LinkAdresse}}">User registration</a></p>
		<p>
			After you have registered please let the coordinator of your harbour group know. He will unlock your account, so that you get access to the website.
		</p>
		<p>
			Thank you very much for your co-operation!<br />
			Your Brothers of the administration team
		</p>
	</body>
</html>