<html>
	<head>
		<title>Dein Zugang zum Hafendienst-Backoffice</title>
	</head>
	<body>
		<p>Lieber {{Vorname}},</p>
		<p>
			Für dich wurde ein Zugang zum Backoffice des Hafendienstes Norddeutschland eingerichtet.<br />
			Dein Benutzername lautet:
		</p>
		<p>{{Benutzername}}</p>
		<p>Dein Passwort für das erste Login lautet:</p>
		<p>{{Passwort}}</p>
		<p>Bitte ändere das Passwort nach dem ersten Login (Das Passwort kann nach dem Login unter den Menüpunkt Profil geändert werden).</p>
		<p>
			Vielen Dank für deine Mitarbeit<br />
			Deine Brüder aus der Hafengruppe-Nord
		</p>
	</body>
</html>