<html>
	<head>
		<title>Hafendienst-Backoffice - Dir wurde ein Kontakt zugewiesen</title>
	</head>
	<body>
		<p>Liebe(r) {{Vorname}},</p>
		<p>
			Dir wurde folgender Schiffskontakt zugewiesen:
		</p>
		<table>
			<tr>
				<td>Datum: </td>
				<td>{{Datum}}</td>
			</tr>
			<tr>
				<td>Kontakt Typ: </td>
				<td>{{Kontakt_Typ}}</td>
			</tr>
			<tr>
				<td>Schiffsname: </td>
				<td>{{Name}}</td>
			</tr>
			<tr>
				<td>IMO: </td>
				<td>{{IMO}}</td>
			</tr>
			<tr>
				<td>Hafen: </td>
				<td>{{Hafen}}</td>
			</tr>
		</table>
		<p>
			Solltest du diesen Besuch nicht war nehmen können, trage dich bitte selber aus oder melde dich im Backoffice, 
			damit der Kontakt einem anderen Verkündiger zugewiesen werden kann.
		</p>
		<p>
			Deine Brüder aus der Hafengruppe
		</p>
	</body>
</html>