/*
 *	index.css
 *
 *	Style-Sheets für Seite Index
 *
 */
 
#indexWrapper { max-width: 380px; margin: 100px auto; }

#loginBody { padding: 10px; background: rgba(255, 255, 255, .8); box-shadow: 0px 5px 18px #56386b; border-radius: 5px; text-align: center; }
#loginBody h1 { color: #0B0B3B; }
.loginRow { margin-bottom: 10px; }
.inputButton:hover { background-color: #045FB4; cursor: pointer; }

#newPW { text-align: right; font-size: 10pt; margin: 5px 5px 0px 0px; }

#pwResetBody>div { margin-bottom: 10px; }
