/*
 *	vessel.css
 *
 *	Style-Sheets für Seite Vessel
 *
 */


/*****************************/
/*           Suche           */
/*****************************/
#searchInput { max-width: 170px; }

#searchResult { margin: 10px 0px; }
.searchResultRow { padding: 3px;}
.searchResultRow a { display: block; }
.searchResultRow:nth-child(even) { background-color: #E0ECF8; }

.searchResultRow:hover { padding: 2px 2px 2px 10px; border: 1px solid #BDBDBD; }


/*****************************/
/*          Details          */
/*****************************/
#detailEmpty { text-align: center; font-size: 14pt }

.detailTable .planned { color: #B40404; }

#addVessel .ui.segment { position: static; height: 100%; width: 100%; border-radius: 0px; }

#agentInfoContainer { display: none; }