/*
 *	vessel.css
 *
 *	Style-Sheets für Seite Vessel
 *
 */


/*****************************/
/*          Details          */
/*****************************/
#detailEmpty { text-align: center; font-size: 14pt }

.detailTable .planned { color: #B40404; }

#addVessel .ui.segment { position: static; height: 100%; width: 100%; border-radius: 0px; }

#agentInfoContainer { display: none; }

.openContactRow { padding: 2px; margin-bottom: 2px; }
.openContactRow:nth-child(even) { background-color: #E0ECF8; }
.openContactRow a { text-decoration: none; color:inherit; font-size: 10pt; }

#searchInputVessel { max-width: 150px; }

#vesselForecast { margin-top: 10px; }
#vesselForecast table { font-size: 9pt; }
#vesselForecast td { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 100px; }

.addForecast input { padding: 1px; font-size: 100%; width: 100%; }
.addForecast button { padding: 5px !important; margin: 0px !important; }
