/*
 *	vessel.css
 *
 *	Style-Sheets für Seite Vessel
 *
 */


/*****************************/
/*          Details          */
/*****************************/
#detailEmpty { text-align: center; font-size: 14pt }

.detailTable .planned { color: #B40404; }

#addVessel .ui.segment { position: static; height: 100%; width: 100%; border-radius: 0px; }

#agentInfoContainer { display: none; }

.openContactRow { padding: 2px; margin-bottom: 2px; }
.openContactRow:nth-child(even) { background-color: #E0ECF8; }
.openContactRow a { text-decoration: none; color:inherit; }



#searchInputVessel { max-width: 170px; }