/*
 *	global.css
 *
 *	Globale Style-Sheets für Port-Mission BackOffice
 *
 */

* { font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif }

body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, input, th, td
{ margin: 0; padding: 0; border: 0; outline: none; }

body, html { height: auto !important; }

h1 { font-size: 24px; margin: 15px 0px !important; }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; }
input[type=number] { -moz-appearance: textfield; }
input { padding: 8px 15px; font-size: 12pt; border-radius: 3px; border: 1px solid #BDBDBD; color: #585858; }
body { background: url("../img/index_bckgrnd.jpg") no-repeat center center fixed; background-size: cover;  }
a { color:inherit; text-decoration: none; cursor: pointer; }

.clear { clear: both !important; }
.floatLeft { float: left; }
.floatRight { float: right; }

.iconPointer { cursor: pointer; }
.iconRowElement { height: 15px !important; width: 15px !important; }

/*****************************/
/*   Einheitliche Elemente   */
/*****************************/

button { background-color: #084B8A; color: #ffffff; font-size: 10pt; padding: 8px 15px; border: 0 !important; cursor: pointer; }
button:hover { box-shadow: 0px 0px 3px #56386b; }
.inputButton { background-color: #084B8A; color: #ffffff; font-size: 12pt; padding: 8px 15px; border: 0 !important; }

.errorMsgForm { font-size: 9pt; color: red; margin: 5px; }
.msgForm { font-size: 9pt; color: #088A4B; margin: 5px; }

.listingHeadline { padding: 5px; background-color: #D8D8D8; font-weight: bold; }

/*****************************/
/*       Element Detail      */
/*****************************/

.elementDetailWrapper { padding: 0px !important; margin-bottom: 0px !important; }
.elemDetailIcon { grid-row-start: 1; grid-row-end: 4; margin-right: 10px; }
.elemDetailIcon img { width: 70px; }
.elemDetail { display: grid; grid-row-gap: 10px; padding: 15px; grid-template-rows: max-content; }
.elemDetail.vessel { grid-template-columns: 80px 1fr 2fr 1fr 2fr 1fr 2fr; }
.elemDetail.agency { grid-template-columns: 80px 1fr 2fr; }
.detailActions { margin: 1px 0px 0px 0px !important; min-height: auto !important; width: fit-content !important; }
.detailActions .item { padding: 7px !important; }
.elemDetailName { grid-column-start: 3; grid-column-end: 8; }
.elemDetailLanguages { grid-column-start: 5; grid-column-end: 8; }
.label { font-weight: bold; margin-right: 5px; }


.detailTable { margin-bottom: 0px !important; }
.detailTable th { padding: 7px !important; }

@media only screen and (max-width: 600px) {
	h1 { font-size: 20px; }
	
	.elemDetail { padding: 5px; }
	.elemDetail.vessel { grid-template-columns: 80px 1fr 2fr; }
	.elemDetailIcon { grid-row-start: 1; grid-row-end: 7; }
	.elemDetailName { grid-column-start: 3; grid-column-end: 4; }
	.elemDetailLanguages { grid-column-start: 3; grid-column-end: 4; }
}