/*
 *	home.css
 *
 *	Style-Sheets für Seite Index
 *
 */

#homeWrapper { max-width: 1240px; margin: 30px auto 30px auto; padding: 0px 10px 10px 10px; box-shadow: 0px 5px 18px #56386b; 
				background: rgba(230, 235, 244, .9); border-radius: 5px; }
#title { float: left; }

#detailEmpty { text-align: center; font-size: 14pt }
#detailEmpty img { width: 150px; }

#footer { text-align: right; margin-top: 5px; }

#message { color: green; margin: 10px; }

.mobileTableWrapper {
	width: 100%; 
	overflow: auto;
	margin: 10px 0px 0px 0px;
}

.pager-item {
	float:left;
	margin-right: 5px;
	padding: 5px 10px;
	border: 1px solid rgba(34,36,38,.15);
	border-radius: 0.28571429rem;
	cursor: pointer;
}
.pager-item.selected {
	background-color: #2185d0;
	color: #fff;
}

/*****************************/
/*         Navigation        */
/*****************************/
#nav {float: right; }
#nav a { display: block; padding: 10px; background-color:#93b4d5; color: #000000; }
#nav a:hover { background-color: #102850; color: #ffffff; }
#nav i { margin: 0px !important; }
.navElement { float: left; margin: 0px 5px 0px 0px; }
.navElement a { box-shadow: 0px 1px 3px #56386b; }
.navElement.active { padding: 1px; background-color: #193E7A; color: #ffffff; box-shadow: 0px 2px 3px #56386b; }
.navElement.active:hover { background-color: #3F5B87; color: #ffffff; }
.dropdown.language { padding: 10px; }
#mobileMenu .dropdown.language { padding: 0px; }

#mobileMenuButton { display: none; float: right; padding: 15px 0px; }
#mobileMenu { display: none; text-align: right; clear: both; margin-bottom: 10px; width: auto; }

@media only screen and (max-width: 600px) {
	#nav { display: none; }
	#mobileMenuButton { display: inline; }
}

/*****************************/
/*          FlexBox          */
/*****************************/
.flexBox { clear: both; display: flex; flex-wrap: wrap; gap: 5px; }
.mainCol { background-color: #ffffff; padding: 10px; box-shadow: 0px 2px 5px #56386b; min-height: 660px; }

.vesselSearchCol { flex-basis: 180px; }
.vesselContactCol { flex-basis: 220px; }
.agencySearchCol { flex-basis: 300px; }
.portSearchCol { flex-basis: 200px; }
.settingsSearchCol { flex-basis: 200px; }

.infoCol { flex: 1; }
.notNeededCol { display: none; }

@media only screen and (max-width: 600px) {
	.mainCol { flex: 1 100% !important; }
}

/*****************************/
/*      Overlay Window       */
/*****************************/
#window { display: none; position: absolute; top: 100px; left: 50%; transform: translate(-50%); width: 500px; background-color: #D8D8D8; border-color: #6E6E6E; 
			box-shadow: 10px 10px 15px silver; z-index: 10; }
.windowHead { color: #000000;}
.windowHead .label { float: left; padding: 5px;}
.windowHead .close { padding: 5px 10px 5px 10px; float: right; background-color: #DF0101; color: #ffffff; }
.windowHead .close:hover { cursor: pointer; }
.windowBody { clear: both; background-color: white; padding: 5px; }

@media only screen and (max-width: 600px) {
	/* #window { top: 100px; left: auto; left: 5%; width: 90%; } */
	#window { position: absolute; width: 95% !important; margin: auto 10px; left: auto; top: 40px; transform: none; }
}

/*****************************/
/*    DataProtectionLayer    */
/*****************************/

#dataProtectionLayer { position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; background: rgba(230, 235, 244, .9); }
#dataProtectionContend { width: 800px; margin: 100px auto; background-color: #ffffff; padding: 20px; /* box-shadow: 3px 3px 5px #585858; */ }

@media only screen and (max-width: 800px) {
	#dataProtectionContend { width: auto; margin: 20px; }
}

/*****************************/
/*           Suche           */
/*****************************/
#searchResult { margin: 10px 0px; }
.searchResultRow { padding: 3px;}
.searchResultRow a { display: block; }
.searchResultRow:nth-child(even) { background-color: #E0ECF8; }

.searchResultRow:hover { padding: 3px 3px 3px 10px; }

#drySearchResult { margin-top: 5px; }

/*****************************/
/*         Suggester         */
/*****************************/
.ui.category.search .results { width: 98% !important; }
.ui.category.search .results div { padding: 5px; cursor: pointer; }
.agentInfoHead { font-weight: bold; }

/**********************************************************/
/*                        Forecast                        */
/**********************************************************/
.forecastPorts {
	text-align: center;
}

.portForecastButton {
	box-shadow: 0px 1px 3px #bababc; 
	margin: 0px 10px 5px 0px; 
	background-color: #E0ECF8; 
	padding: 3px 10px; 
	float: left;
	cursor: pointer;
}
.portForecastButton.active {
	box-shadow: 0px 1px 3px #207e15;
}
.portForecastButton:hover {
	background-color: #c1d1e1;
}
#portForecast table {
    font-size: 9pt;
}
#portForecast td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100px;
}
/**********************************************************/
/*                       Seite Port                       */
/**********************************************************/
.userLanguage { float: left; margin-right: 10px; }


/**********************************************************/
/*                      Seite Profile                     */
/**********************************************************/
.profile .segment.content { height: 100%; }


/**********************************************************/
/*                     Seite Settings                     */
/**********************************************************/
#statisticSelector { margin-top: 40px; }
#statisticsContend { margin-top: 20px; }
.searchResultRow.active { border-left-width: 2px; border-style: solid; border-color: red; }

@media only screen and (max-width: 600px) {
	#homeWrapper { margin: 30px 5px 10px 5px; }
}

#addKalender { display: none; padding: 10px; margin: 10px 0px 0px 0px; background-color: #F2F2F2; }
#addKalender .buttonLine { text-align: right; }

/**********************************************************/
/*                      VesselFinder                      */
/**********************************************************/
#vesselfinder {
	margin-top: 10px;
	border-radius: 5px;
	box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
}