/*
 *	index.css
 *
 *	Style-Sheets für Seite Index
 *
 */

h2 { margin: 15px 0px; }

#indexWrapper { max-width: 380px; margin: 100px auto 10px auto; }
#imprintWrapper { max-width: 500px; margin: 100px auto 10px auto; }
#dataprotectionWrapper { max-width: 800px; margin: 100px auto 10px auto; }

#loginBody { padding: 15px 25px; background: rgba(255, 255, 255, .9); text-align: center; }
.inputButton:hover { background-color: #045FB4; cursor: pointer; }

#footer { max-width: 380px; margin: 10px auto; text-align: right; font-size: 10pt; }

#pwResetBody>div { margin-bottom: 10px; }
