/*
 *	vessel.css
 *
 *	Style-Sheets für Seite Vessel
 *
 */


/*****************************/
/*          Details          */
/*****************************/
.detailTable .planned { color: #B40404; }

#addVessel .ui.segment { position: static; height: 100%; width: 100%; border-radius: 0px; }

#agentInfoContainer { display: none; }

.openContactRow { padding: 2px; margin-bottom: 2px; }
.openContactRow:nth-child(even) { background-color: #E0ECF8; }
.openContactRow a { text-decoration: none; color:inherit; font-size: 10pt; }

.openContactRowHeader { margin-top: 5px; text-align: center; border-bottom-style: solid; border-bottom-width: 1px; border-color: #6E6E6E; font-weight: bold; }

#searchInputVessel { max-width: 150px; }

#vesselForecast { margin-top: 10px; }
#vesselForecast table { font-size: 9pt; }
#vesselForecast td { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 100px; }

.addForecast input { padding: 1px; font-size: 100%; width: 100%; }
.addForecast button { padding: 5px !important; margin: 0px !important; }

.forecastDisabled { color: #BDBDBD; }

@media only screen and (max-width: 600px) {
	#searchInputVessel { max-width: 100%; }
	#mainColLeft .ui.action.input { width: 100%; }
	
	.mainCol { min-height: auto !important; }
}

/*********************************/
/*          contactMail          */
/*********************************/
#mailComplete { padding: 5px; }
.mailBody { position: relative; }
.mailBody * { font-size: 7pt !important; }
.mailOverlay { position: absolute; top: 0px; height: 100%; width: 100%; }